@model IEnumerable<MM_Kennels.CageResult>

@{
    ViewData["Title"] = "Day";
}

<h3>Day @ViewBag.day Info:</h3>

<hr />
<h3>Cages Available:</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Min Weight
            </th>
            <th>
                Max Weight
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cage in Model.Where(c => c.Animal == null).OrderBy(c => c.Id))
        {
            <tr>
                <td>@cage.Id</td>
                <td>
                    @Html.DisplayFor(modelItem => cage.MinWeight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => cage.MaxWeight)
                </td>
            </tr>
        }
    </tbody>
</table>

<h3>Animals Scheduled:</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Weight
            </th>
            <th>
                Start Day
            </th>
            <th>
                Length of Stay
            </th>
            <th>
                Cage ID
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var animal in Model.Where(a => a.Animal != null).OrderBy(a => a.Id))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => animal.Animal.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => animal.Animal.Weight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => animal.Animal.StartDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => animal.Animal.EndDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => animal.Id)
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-controller="Home" asp-action="Index">Back</a>
</div>