@model MM_Kennels.CageResult

@{
    ViewData["Title"] = "Schedule";
}

<h3>@Html.DisplayFor(model => model.Animal.Name) is scheduled for cage @Html.DisplayFor(model => model.Id).</h3>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Animal.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Animal.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Animal.Weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Animal.Weight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Animal.StartDay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Animal.StartDay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Animal.EndDay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Animal.EndDay)
        </dd>
        <dt class="col-sm-2">
            Cage @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
    </dl>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back</a>
</div>

